<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4 text-danger">Email Confirmation Failed</h1>
        <p class="lead">We're sorry, but it seems there was an issue with your email confirmation.</p>
    </div>
</div>